<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">

        <div class="flex-container flex-space-between">
          <div class="cell-2-12 flex_align">
            <div class="logo">
              <a href="/">
                <img src="/uploaded/logo/logo.png" alt="LogoSite"
                  style="max-width:100%; margin:0 auto"></a>
            </div>
          </div>

          <div class="cell-10-12 flex-container flex_align--end">


            <div class="menubar">
              <ul class="nav  hide-on-mobile">


                <li class=" active "> <a href="/" class=""><span style="background-image:url()">Trang chủ  </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/gioi-thieu/" class=""><span style="background-image:url()">Giới thiệu </span></a>
                
                    
                </li>
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Dịch vụ in ấn </span></a>
                
                
                
             
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Báo giá</span></a>
                
                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Mẫu thiết kế</span></a>
  
                </li>
                <li class=" "> <a href="/du-an-dau-tu/" class=""><span style="background-image:url()">Góc tư vấn</span></a>
                
              
                    
                    
                </li>
                <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a>
                </li>
                
                </ul>
              
              <div class="c"></div>
            </div>
            <form action="/search/" method="get" id="searchformtab" style="float:right">
              <input name="qr" class="" placeholder="Tìm kiếm" type="text">
                  <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                      <i class="fa fa-search" aria-hidden="true"></i> </a>

                 
          </form>
          <div class="header-phone">
              <a href="tel:"><i class="fas fa-phone-alt"></i>  0937 876 876</a>
          </div>
          </div>
        </div>
      </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      
    </header>
    <!-- content -->
    <div class="content">
        
         
         <!-- cat-item -->
           
            <div class="duanchitiet">
                <div class="crumb"><div class="grid"><a href="/"> Trang chủ</a> <i class="fa fa-angle-right"></i> <a href='/#'>Dịch vụ in ấn</a></div><div class="c5"></div></div>
                <div class="grid">
                    <div class="c30"></div>
                    <div class="c20 hide-on-mobile"></div>
                    <div class="flex-container">
                        
                        <div class="cell-3-4 tab-cell-1-1" >
                           <div class="duanchitiet-ct">
                            <h2 class="homecat-title">
                                <a href="">
                                    Dịch vụ ấn phẩm văn phòng
                                </a>
                            </h2>
                            <div class="c10"></div>
                            <div class="intro-left">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, consequatur obcaecati? Perspiciatis eveniet culpa aliquid neque vel, doloribus, dolorum accusamus dignissimos officia obcaecati suscipit doloremque debitis amet. Voluptatem, accusamus sit?
                            </div>
                            <div class="c20"></div>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                             
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            <div class="c10"></div>
                            <img src="/uploaded/dich-vu/dichvu-1.png" alt="">
                            <div class="c10"></div>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                            But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure
                        
                            <div class="c30"></div>
                            <div class="c20 hide-on-mobile"></div>
                           </div>
                            <div class="c30"></div>
                            <div class="dangky">
                                
                                <div class="flex-container">
                                    <div class="cell-3-5 tab-cell-1-1">
                                        
                                       <div class="dangky-form">
                                        <div class="homecat-title--spc">Đăng Ký Tư Vấn</div>
                                        <div class="intro">Gửi yêu cầu cho chúng tôi!</div>
                                        <form  action="/index4.php?page=contact&lang=" method="post" class="frmSubmit" id="booking_form" data-alert="Bạn cần nhập đủ thông tin vào những trường màu đỏ" data-captcha ="Mã captcha không đúng" data-success="Thông tin liên hệ đã được gửi thành công !" data-redirect="/contact-success/" class="frmSubmit"  onSubmit="return check_booking_form();">
                                            <input type="hidden"  name="code" value="save" />     

                                            <div class="form_booking">
                                               

                                                <div class="c10"></div>
                                                <div class="flex-container">
                                                    <div class="cell-1-1 tab-cell-1-1">
                                                        <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên*">
                                                    </div> 
                                                    <div class="cell-1-2 tab-cell-1-1">
                                                        <input name="phone" type="text"  class="txt-contact notNull"  placeholder="Điện thoại*">
                                                    </div>
                                                    <div class="cell-1-2 tab-cell-1-1">
                                                        <input name="email" type="text"  class="txt-contact"  placeholder="Email">
                                                    </div>
                                                    <div class="cell-1-1 tab-cell-1-1">
                                                        <textarea name="other_request" rows="4" placeholder="Ghi chú"></textarea>
                                                    </div> 
                                                    <div class="cell-1-2 tab-cell-1-1">
                                                        <input name="input" type="button" onClick="$('#booking_form').submit()"  class="btn-dangky hvr-bounce-to-bottom" value="Gửi yêu cầu tư vấn" style="padding:0px" />
                                                    </div>
                                                </div>
                                              
                                            </div>
                                            
                                        </form> 
                                        
                                       </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="cell-1-4 tab-cell-1-1">
                            <div class="tuvan-right">
                              <div class="tuvanr-title">
                                Tư vấn đặt hàng
                              </div>
                              <div class="c20"></div>
                              <div class="homecat-intro">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                              </div>
                                <div class="tuvan-item">
                                    <img src="/uploaded/khachhang/Layer 24.png" alt="">
                                    <div class="c10"></div>
                                    <a class="tuvan-name">
                                        Tư vấn viên Thanh Thủy
                                    </a>
                                    <div class="c"></div>
                                    <a href="tel:" class="tuvan-phone">0988 878 878</a>
                                    <div class="c"> </div>
                                    <a href="mailto:" class="tuvan-email">info@uni.com</a>
                                </div>
                                <div class="tuvan-item">
                                    <img src="/uploaded/khachhang/Layer 24.png" alt="">
                                    <div class="c10"></div>
                                    <a class="tuvan-name">
                                        Tư vấn viên Thanh Thủy
                                    </a>
                                    <div class="c"></div>
                                    <a href="tel:" class="tuvan-phone">0988 878 878</a>
                                    <div class="c"> </div>
                                    <a href="mailto:" class="tuvan-email">info@uni.com</a>
                                </div>
                            </div>
                            <div class="c30"></div>
                            <div class="baivietnb">
                                <h2 class="baivietnb-title">
                                   Bài viết nổi bật
                                </h2>
                                <div class="baivietnb-item">
                                    <div class="baivietnb-img">
                                        <a href=""><img src="/uploaded/tin-tuc/tintuc-1.png" alt=""></a>
                                    </div>
                                    <div class="baivietnb-txt">
                                        <a href="#" class="text-line-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, excepturi possimus veniam dolores, fugiat eius itaque libero vero nulla praesentium eos nihil exercitationem architecto autem impedit vitae dolor neque quo? </a>
                                    </div>
                                </div>
                                <div class="baivietnb-item">
                                    <div class="baivietnb-img">
                                        <a href=""><img src="/uploaded/tin-tuc/tintuc-1.png" alt=""></a>
                                    </div>
                                    <div class="baivietnb-txt">
                                        <a href="#" class="text-line-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, excepturi possimus veniam dolores, fugiat eius itaque libero vero nulla praesentium eos nihil exercitationem architecto autem impedit vitae dolor neque quo? </a>
                                    </div>
                                </div>
                                <div class="baivietnb-item">
                                    <div class="baivietnb-img">
                                        <a href=""><img src="/uploaded/tin-tuc/tintuc-1.png" alt=""></a>
                                    </div>
                                    <div class="baivietnb-txt">
                                        <a href="#" class="text-line-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab, excepturi possimus veniam dolores, fugiat eius itaque libero vero nulla praesentium eos nihil exercitationem architecto autem impedit vitae dolor neque quo? </a>
                                    </div>
                                </div>
                            </div>
                            <div class="c30"></div>
                            <div class="banner-left">
                                <a href="#">
                                    <img src="/uploaded/dich-vu/dich-vuchi-tiet_19.png" alt="">
                                </a>
                            </div>
                         </div>
                    </div>
                    <div class="c30"></div>
                    <div class="c20 hide-on-mobile"></div>
                </div>
            </div>
         <!-- end cat item -->
         <!-- dự án -->
          <div class="homeduan-wrapper">
            <div class="c30"></div>
            <div class="c20 hide-on-mobile"></div>
            <div class="grid">
              <h2 class="homecat-title--spc">
                <a href="">
                    Dịch vụ ấn phẩm văn phòng
                </a>
              </h2>
              <div class="c20"></div>
              

              <div class="flex-container">
              
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item1.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>
                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item2.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>
                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item3.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>

                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item4.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>

                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item5.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>

                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item6.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>

                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item7.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>

                
               <div class="cell-1-4 tab-cell-1-1">
                <div class="homeduan-item">
                  <a href="#" class="img-shine">
                    <img  src="/uploaded/sanpham/item8.png" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Quis ipsum suspendisse ultrices
                      </a>
                    </h3>
 
                  </div>
                </div>
               </div>
              </div>
             
              <div class="c30"></div>
              <div class="c20 hide-on-mobile"></div>
          </div>
          </div>
          <!-- end dự án --> 

    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-3 tab-cell-1-1">
              <div class="footer-title footer-title-mobile" rel="ct">
                Tên thương hiệu
              </div>
              <p> <i class="fa fa-home" aria-hidden="true"></i> 460 Trần Quý Cáp, P. Văn Chương, Đống Đa, TP. Hà Nội</p>
              <p> <i class="fa fa-phone-alt"></i>  <a href="tel:0983237599 ">Hotline: 0983237599 </a></p>
              <p> <i class="far fa-envelope"></i>  <a href="mailto:uni@info.vn">uni@info.vn</a> </p>
            </div>

            <div class="cell-1-3 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Dịch vụ in ấn của UNI
                </div>
                <ul class="footer-menu">
                    <li>
                      <a href="#"> Ấn phẩm văn phòng</a>
                    </li>
                    <li>
                      <a href="#"> Ấn phẩm quảng cáo</a>
                    </li>
                    <li>
                      <a href="#"> Ấn phẩm Khác</a>
                    </li>
                </ul>
              </div>
            </div>

            <div class="cell-1-3 tab-cell-1-1">
              <div class="footer-block">
              
                <div class="footer-title footer-title-mobile" rel="ct">
                 Liên kết mạng xã hội
                  </div>

                <ul class="footer-social">
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-pinterest-p"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>


              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="grid">
          <div class="flex-container flex-centered">
            ©2021  registered by F5
          </div>
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

